@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

*:focus {
  outline: none;
}
body {
  background-color: rgb(243, 239, 239);
  font-family: sans-serif;
  overflow-x: hidden;
}
img,
nav {
  user-select: none;
}
